.div{
    background-image: url(https://s1.1zoom.me/big0/380/Painting_Art_Breaking_487616.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.soy{
    color: blanchedalmond;
    font-family: 'Droid serif', serif; 
    font-size: 36px; 
    font-weight: 400; 
    font-style: italic; 
    line-height: 44px; 
    margin: 10px 12px;
    padding: 10px 12px; 
    text-align: center;
}
.img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 50%;
    opacity: 0.8;
}
.sta{
    
    color: #e4fd02; 
    font-size: 29px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    padding: 20px; 
}
.btn{
    margin-top: 5%;
    margin-left: 7%;
    /* background-color:  rgba(240, 228, 236, 0.712); */
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    background-color: rgb(56, 77, 50); 
    color:white;
}